.Project{
  
}

.Project-images{
  position: relative;
}

.Project img{
  position: relative;
  top: 0;
  bottom: 0;
  width: 100%;
  border: rgb(241, 241, 241) 1px solid;
  border-radius: 5px;
  box-shadow: 5px 5px 10px lightgray;
  background-color: white;
}

.Project img:nth-child(2){
  position: absolute;
  width: 25%;  
  left: 70%;
  top: 30%;
}

.Project img:hover{
  cursor: pointer;
}