.Project {
  /* max-width: 800px; */
}

.Project h3 {
  margin-top: 0px;
}

.Project p {
  text-align: left;
  max-width: 30em;
  padding-left: 10%;
}

.Project-credentials {
  text-align: left;
  padding-left: 30%;
}

.Project-links {
  margin: 20px 10px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.Project-bg {
  /* background-color: lightgrey; */
  overflow: hidden;
  transition: .5s linear all;
  margin: 5em 0;
}

.Project-bg svg {
  /* 'crop' svg  */
  transition: 2s linear background-color;
  margin: -2%;
}

.Project-imgs {
  margin: 20px 0;
}

/* relative parent absolute child - gives you an element you can position inside parent*/
.Project img {
  /* display: none; */
  z-index: 1;
  margin: 20px;
  position: absolute;
  /* top: 10px; */
  /* top: 10%; */
  left: 0;
  width: 90%;
  border: rgb(241, 241, 241) 1px solid;
  border-radius: 5px;
  box-shadow: 5px 5px 10px lightgray;
  background-color: white;
  transition: all .8s 0s cubic-bezier(0.1, 0, 0.36, 1.7);
}

.Project img:nth-child(2) {
  width: 25%;
  left: 67%;
  top: 20%;
}

.Project img:hover {
  cursor: pointer;
}

@media screen and (min-width: 705px){
  .Project{
    max-width: 800px;
    align-items: center;
  }
  .Project-imgs {
    margin: 0 10%;
  }
  .Project img {
    top: 10%;
  }
  .Project p{
    margin: 1em auto;
  }
}

@media screen and (min-width: 1000px) {
  .Project {
    display: flex;
    align-items: center;
    max-width: 100%;
    /* flex-direction: row-reverse; */
  }
  .Project p{
    width: 85%;
  }
  .Project-imgs {
    width: 50%;
    margin: 0;
  }
  .Project-summary {
    width: 50%;
  }
  .Project img {
    top: 10%;
  }
}
