
@font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

.App {
  text-align: center;
  /* margin: 0 auto; */
  /* max-width: 1200px; */
  overflow-x: hidden;
  transition: 1s linear background-color;
  color: green;
}

.App-night{
  /* background-color: black; */
  background-color: #29263E;
  color: white;
  transition: 1s linear color,1s linear background-color;
}

.container{
  margin: 0 auto;
  max-width: 1200px;
}

.a-btn {
  color: black;
  text-decoration: none;
  border: 1px solid black;
  box-shadow: 3px 4px black;
  padding: 10px;
  margin: 10px;
  text-align: center;
  transition: 1s linear background-color;

}

.a-btn-dark{
  background-color: white;
  transition: 1s linear background-color;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}

section {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;  
}


h1{
  font-family: 'Bungee Shade', sans-serif;
  color: black;
}

h2 {
  color: black;
  margin-top: 40px;
  margin-bottom: 30px;
  width: 100%;
  max-width: 31em;
  font-size: 25px;
  font-family: 'IBM Plex Sans', sans-serif;
  border-bottom: black solid 1.5px;
  max-width: 25em;
  transition: .5s linear border-color, 1s linear color;

}

.night-h2{
  /* border-color: white; */
  color: white;
  transition: 1s linear border-color, 1s linear color;
}


@media screen and (min-width: 705px){
  section{
    margin-bottom: 30px;
    align-items: flex-start;
  }
  h2{
    font-size: 30px;
    width: 50%;
    padding:0;

  }
  p{
    margin: 0 5em;
    font-size: 1.2em;
  }
  section p{
    width: 50%;
  }
  section:nth-of-type(2n){

    align-items: flex-end;
   }
}

h3 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 20px;
}

p {
  font-family: 'Roboto Mono', monospace;
  margin: 10px ;
  max-width: 31em;
}

section {
  animation: fadeIn 1s linear 0s 1 normal both;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeInUp {
  opacity: 0;
  animation: fadeInUp 1s linear 0s 1 normal both;
  /* animation-name: fadeInUp;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-play-state: running;
  animation-fill-mode: both; */
}

@keyframes fadeInUp {
  from {
    transform: translateY(40px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.fadeInDown-1 {
  opacity: 0;
  animation: fadeInDown 1s cubic-bezier(0.81, 0.74, 0, 1.1) 0s 1 normal both
    running;
}

.fadeInDown-2 {
  opacity: 0;
  animation: fadeInDown 1s linear 0s 1 normal both running;
}

@keyframes fadeInDown {
  from {
    transform: translateY(-40px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in-from-left {
  animation: slideInFromLeft 1s cubic-bezier(0.81, 0.74, 0, 1.1) 0s 1 normal
    both running;
}
@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
.slide-in-from-right {
  animation: slideInFromRight 1s cubic-bezier(0.81, 0.74, 0, 1.1) 0s 1 normal
    both running;
}
@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

/* section:nth-of-type(1n){
  animation: slideInFromLeft 1s cubic-bezier(.81,.74,0,1.1) 0s 1 normal forwards running;
}
section:nth-of-type(2n){
  animation: slideInFromRight 1s cubic-bezier(.81,.74,0,1.1) 0s 1 normal forwards running;
} */


.circle-ish {
  border-radius: 40%;
  /* border: 1px grey solid; */
}

.neon-text-off{
  /* color: rgb(99, 99, 99); */
  /* text-shadow: 1px 1px 2px slategray; */
}

.neon-text-b {
  color: #2bfff8;
  text-shadow: 0 0 0.4em #00fff7, 0 0 0.3em #00fff7, 0 0 0.3em #00fff7;
}

.neon-text-r {
  color: rgb(255, 42, 42);
  text-shadow: 0 0 10vw #f40a35;
}

.neon-text-o {
  color: rgb(255, 167, 36);
  text-shadow: 0 0 10vw #f40a35;
}

.neon-div-o {
  background-color: rgb(255, 167, 36);
  /* border-color: rgb(255, 167, 36); */
  /* box-shadow: 0 0 .3em #F40A35, 0 0 .3em #F40A35, 0 0 .3em #F40A35; */
  box-shadow: 0 0 .4em #f40a35, 0 0 .4em #f40a35, 0 0 .4em #f40a35;
}

.dark-mode {
}

