/* *{
  box-sizing: border-box;
  border: 1px gray solid;
} */
@font-face {
  font-family: clipneon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/clip.ttf);
}
@font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}
@font-face {
  font-family: moon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/moon.ttf);
}
/* font-family: 'Bungee Shade', cursive;
font-family: 'Bungee Outline', cursive;
font-family: 'Orbitron', sans-serif; */
/* font-family: 'IBM Plex Sans', sans-serif;
font-family: 'Roboto Mono', monospace; */

.App {
  text-align: center;
  margin: 0 auto;
  max-width: 700px;
  overflow-x:hidden;
}

ul{
  margin: 0;
  padding: 0;
}

li{
  margin: 0;
  padding: 0;
  list-style: none;
}

section{
  margin: 0 10px;
}

h2{
  padding: 0px;
  font-size: 25px;
  /* font-family: 'Orbitron', sans-serif; */
  font-family: 'IBM Plex Sans', sans-serif;
  color: black;
  background-color: rgb(236, 236, 236);
  border-radius: 5px;
  border: 1px black solid;
  /* text-decoration: underline; */
  box-shadow: 5px 5px grey;
}

h3{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 20px;
}
  
p{
  font-family: 'Roboto Mono', monospace;
  margin: 10px 20px;
  animation: fadeIn 1s linear 0s 1 normal both;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
} 

.fadeInUp{
  opacity: 0;
  animation: fadeInUp 1s linear 0s 1 normal both;
    /* animation-name: fadeInUp;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-play-state: running;
  animation-fill-mode: both; */
}

@keyframes fadeInUp {
  from {
    /* transform: translate3d(0, 100px, 0,); */
    transform: translateY(40px);
  }
  to {
    /* transform: translate3d(0); */
    transform: translateY(0);
    opacity: 1;
  }
}

.fadeInDown-1{
  opacity: 0;
  animation: fadeInDown 1s cubic-bezier(.81,.74,0,1.1) 0s 1 normal both running;
}

.fadeInDown-2{
  opacity: 0;
  animation: fadeInDown 1s linear 0s 1 normal both running;
}

@keyframes fadeInDown {
  from {
    transform: translateY(-40px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in-from-left{
  animation: slideInFromLeft 1s cubic-bezier(.81,.74,0,1.1) 0s 1 normal both running;
}
@keyframes slideInFromLeft{
  from{transform: translateX(-100%)}
  to{transform: translateX(0)}
}
.slide-in-from-right{
  animation: slideInFromRight 1s cubic-bezier(.81,.74,0,1.1) 0s 1 normal both running;
}
@keyframes slideInFromRight{
  from{transform: translateX(100%)}
  to{transform: translateX(0)}
}

.dark-mode{

}