.Contact{

}

.Contact .container{
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  margin: 30px 0;
}

.Contact img{
  width: 24px;
  margin: 0 5px;
  vertical-align: middle
}

.Contact a{
  text-decoration: none;
  color: black;
}

.Contact div{
  text-align: left;
  margin: 20px;
}