.Header {
  max-width: 700px;
  padding: 5px 10px;
  border-bottom:1px black solid;
  background-color:#DCDCDC;
}

.Header header{
  margin: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 150ms linear;
}

.Header-expanded{
  padding-bottom: 65px;
}

.Header .Logo {
  color: black;
  text-decoration: none;
  font-size: 28px;
  font-family: neon;
}

/* .Header a{
  color: black;
  text-decoration: none;
  font-size: 23px;
  font-family: neon;
} */


/* just messing around with things below to make the NavMobile hamburger*/
/* .Header .test {
  border: 1px solid black;
  position: relative;
  width: 100px;
  height: 100px;
}

.Header .test:before {
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  height: 11px;
  width: 100px;
  background-color: crimson;
  transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1),
    top 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1s;
}

.Header .test:hover:before {
  top: 44px;
  transform: rotate(-45deg);
  transition: top 1s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1s;
}

.Header .test:after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  height: 11px;
  width: 100px;
  background-color: aqua;
  transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1), bottom 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1s;
}

.Header .test:hover:after {
  bottom: 45px;
  transform: rotate(45deg);
  transition: bottom 1s cubic-bezier(0.165, 0.84, 0.44, 1), transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1s;
} */
