.Header {
  padding: 5px 10px;
  border-bottom:1px black solid;
  /* margin: 5px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 150ms linear;
  overflow: hidden;
}

.Header-expanded{
  padding-bottom: 65px;
}

.Header .Logo {
  color: black;
  text-decoration: none;
  font-size: 30px;
  font-family: neon, Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 705px){
  .Header{
    height: 4.5em;
  }
  .Header .Logo{
    font-size: 45px;
  }
  .Header-expanded{
    padding-bottom: 0;
  }
  
}
