.NavDesktop{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  transition: .5s linear all;
}


.NavDesktop-overflow{
  display: flex;
  align-items: center;
  position: absolute;
  left: 3em;
  width: 800px;
}

.verticalBar{
  background-color: black;
  height: 3.5em;
  width: 2px;
  border: .5px solid black;
  border-radius: 20px;
}

.NavDesktop-ul{
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.NavDesktop li{
  margin: 10px;
}


@media screen and (min-width: 1200px){
  .NavDesktop-active{
    margin-right: 560px;
    transition: .5s linear all;
  }
}

@media screen and (max-width: 1199px){
  .NavDesktop-active{
    margin-right: 480px;
    transition: .5s linear all;

  }
  
}
