.DayNight{
  border-radius: 50%;
  position: relative;
}

.Daynight-text{
  z-index: 2;
  position: absolute;
  font-size: .8em;
  transition: 1s all linear;
  left: 13%;
  top: 10%;
  font-family: 'Roboto Mono', monospace;
}

.DayNight-night-text{
  left: 15px;
  top: auto;
}


.DayNight-day{
  position: absolute;
  background-color: #f9d71c;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.DayNight:hover{
  cursor: pointer;
}

.DayNight-night{
  background-color: #FACC55;
}

.DayNight-moon{
  position: relative;
  transform: translate(25px, -50px);
  background-color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: transform 1s linear, background-color 1s linear;
}

.DayNight-moon-active{
  transform: translate(9px, -18px);
  background-color: #29263E;
  transition: transform 1s linear, background-color 1s linear;
}

.cactus-svg{
  width: 1em;
  bottom: -.4em;
  right: -1em;
  position: absolute;
}

.cactus-svg *{
  transition: fill 1s linear;
}

@media screen and (min-width: 705px){
  .DayNight-day{
    width: 60px;
    height: 60px;
  }
  .DayNight-moon{
    width: 55px;
    height: 55px;
  }
  .cactus-svg{
    width: 1.9em;
    bottom: -.9em;
    right: -2em;
  }

}