.DayNight{
  border-radius: 50%;
}

.DayNight-day{
  position: absolute;
  background-color: #f9d71c;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  overflow: hidden;
}

.DayNight:hover{
  cursor: pointer;
}

.DayNight-night{
  /* background-color: #f8f4dd; */
  background-color: #FACC55;
}

.DayNight-moon{
  position: relative;
  transform: translate(25px, -50px);
  background-color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: transform 1s linear, background-color 1s linear;
}

.DayNight-moon-active{
  transform: translate(9px, -18px);
  /* background-color: #f8f4dd; */
  background-color: #29263E;
  transition: transform 1s linear, background-color 1s linear;
}

@media screen and (min-width: 705px){
  .DayNight-day{
    width: 50px;
    height: 50px;
  }
  .DayNight-moon{
    width: 50px;
    height: 50px;
  }

}