.NavMobile{
  /* overflow: hidden; */
}

.NavMobile-ul-hidden {
  position: absolute;
  left: 110%;
  display: flex;
  justify-content: space-around;
  overflow-y: hidden;
}

.NavMobile-ul-visible {
  top: 45px;
  left: 0;
  width: 100%;
  transform: translateX(0);
  transition: all 500ms linear 500ms;
}

