.Nav{
}

.Nav-slide{
  transform: translateX();
}

.Nav li{
  border: 1px black solid;
  padding: .6em .3em .5em .3em;
  background-color: white;
  font-family: neon, sans-serif, Arial;
  font-size: 20px;
}

.Nav li:hover{
  cursor: pointer;
}

.Nav ul{
  margin: 5px 0;
  overflow: visible;
}

.menu-icon {
  width: 30px;
  height: 30px;
  position: relative;
  transition: transform 500ms linear;
}

.menu-icon:hover{
  cursor: pointer;
}

.menu-icon-top,
.menu-icon-bottom {
  position: absolute;
  height: 1px;
  width: 30px;
  background-color: black;
  border: .5px solid black;

  border-radius: 20px;
}

.menu-icon-top {
  bottom: 19px;
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-icon .menu-icon-top-expanded {
  bottom: 14px;
  transform: rotate(-45deg);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-icon-bottom {
  bottom: 9px;
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon .menu-icon-bottom-expanded {
  bottom: 14px;
  transform: rotate(45deg);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

@media screen and (min-width: 600px){
  .Nav li{
    font-size: 25px;
  }

  .Nav{
  }
}

@media screen and (min-width: 1200px){
  .Nav li{
    font-size: 30px;
  }
}

